<header>
  <h1>Navbar</h1>
  <nav>
    <a href="/user/user_data">home</a>
    <a href="/user/user_about">About</a>
    <a href="/user/user_info">Info</a>
    <a href="/dashboard/get_all_employees">employees</a>
  </nav>
</header>
