<!DOCTYPE html>
<html>
  <head>
    <title>EJS Template</title>
  </head>
  <link rel="stylesheet" href="/style.css" />

  <body>
    <h1>Welcome to my EJS template!</h1>
    <%- include ("../partials/nav.ejs") %>
    <p><%= user.name %></p>
  </body>
</html>
